---
layout: partners
title: "Inspectlet"
integrations: true
TR_summary: "Use Inspectlet heatmaps and session playbacks to help you learn why visitors convert and develop ideas for future experiments"
logo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/partner-logos/technology/inspectlet.png"
website_link: "http://www.inspectlet.com"
website_display: "www.inspectlet.com"
kb_article: ""
stars: 0
TR_industry:
locations:
- location:
    phone:
    email:
    region:
    TR_city:
    TR_state:
    address1:
    address2:
    zip:
    country:
contact: techpartners@optimizely.com
TR_languages:
tags:
---
<h5>Company</h5>

<p>Inspectlet helps you gain a deeper understanding of what your visitors are thinking by observing their actions naturally. Capabilities include heatmaps, session playback recordings, analytics, and more.</p>

<h5>Integration</h5>

<p>Using this integration, you can see how your experiments are affecting customers' actions on your website by seeing Inspectlet heatmaps by Optimizely experiment or variation.</p>
