---
layout: partners
title: "Big Orange Button AB"
solutions: true
TR_summary:
logo: "//optimizely-marketer-assets.s3.amazonaws.com/partners/logos/bigorangebutton.png"
website_link: "http://www.bigorangebutton.se/"
website_display: "www.bigorangebutton.se"
kb_article: ""
stars: 1
TR_industry: "Full service, Test development, Strategic consulting"
locations:
- location:
    phone: "707644449"
    email: "info@bigorangebutton.se"
    TR_region: "EMEA - Other"
    TR_city: "Stockholm"
    TR_state: "Sweden"
    address1: "Aktergatan 22"
    address2: ""
    zip: "12066"
    TR_country: "Sweden"
contact: ""
TR_languages:
- "Swedish"
- "English"
TR_tags:
- "E-Commerce / Retail"
---
<p>Vi är ett litet specialistföretag som arbetar för att ge e-handlare den kärlek och höga konverteringsgrad de förtjänar. Varje e-handel är unik men ofta arbetar vi med tjänster inom områdena</p>

<ul>
  <li>Webbanalys (Google Analytics)</li>
  <li>Konsumentpsykologi online</li>
  <li>Användarvänlighet (Användartester &amp; eye-tracking)</li>
</ul>

<p>för att ta fram förbättringsförslag som vi sedan testar och mäter genom A/B-tester.</p>

<p>Big Orange Button is a small team of highly experienced Swedish conversion rate optimisers who left our jobs at the big firms to pursue a dream.</p>

<p>That dream is to build a conversion rate optimization company we'd want to do business with ourselves, a company counting happy clients with increased bottom line earnings rather than number of billable hours.</p>

<p>We also understand that it's better to tell a short story well, than a long one poorly. That's why we choose to do one thing, eCommerce conversion optimization, and do it right.</p>

<p>Are you a Swedish eCommerce looking to buy value, not time? Then we would most likely make a great team!</p>
