---
layout: partners
title: "Outfox"
solutions: true
TR_summary:
logo: "//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/partner-logos/solutions/outfox.png"
website_link: "http://www.outfox.com"
website_display: "www.outfox.com"
kb_article:
stars: 1
TR_industry: "Executive Consulting, Strategic Consulting, Custom Implementation, Test Development, Execution, & Management"
locations:
- location:
    phone: "+46 (0)8 790 55 00"
    email: "sales@outfox.com"
    TR_region: "EMEA - Other"
    TR_city: "Stockholm"
    TR_state:
    address1: "Tyska Brinken 30"
    address2:
    zip: "S-11127"
    TR_country: "Sweden"
contact:
TR_languages:
- "Swedish"
- "English"
- "French"
TR_tags:
- "E-Commerce / Retail"
- "Media"
- "Travel" 
- "Insurance"
- "Finance"
---
<p>We can help you:</p>

<ul>
  <li>Implement Optimizely</li>
  <li>Introduce the process of continuous improvement to your organization</li>
  <li>Manage this process (analysis, hypothesis creation, tests, and recommendations)</li>
  <li>Organize inspirational workshops and training sessions</li>
</ul>
