body.glossary {
  h1 {
    color: $brand-blue;
  }
  .toc-index {
    color: $dark-gray-text;
    font-size: 22px;
  }
} 

@media only screen and (min-width: $tablet-min-width) {
  body.glossary {
    .glossary-container {
      max-width: 800px; 
      margin: auto;
    }
    .term-container {
      padding-bottom: 16px;
    }
  }
}