body.glossary {

} 

@media only screen and (min-width: $tablet-min-width) {
  body.glossary {
    .glossary-container {
      max-width: 800px; 
      margin: auto;
    }
    .term-container {
      padding-bottom: 16px;
    }


  }
}