---
layout: modal_wrapper
wrapper_id: error-modal
wrapper_class: error-modal
dialog_id: optimizely_error_dialog
data_modal_id: error
data_modal_name: error
hidden_button_action: close
hidden_button_text: Close
TR_modal_title: "Something went wrong"
error_message_link: "https://help.optimizely.com/?ticket=true"
---
<div class="content-body">
  <p id="optimizely_error_type"></p>
  <p>{{{tr 'If this error persists, please let us know at our <a target="_blank" href="{0}">support page</a>.' error_message.link}}}</p>
  <p>{{tr 'Our engineering team has been notified.'}}</p>
  <p id="optimizely_error_info"></p>
</div>
